{% extends "main.html" %}

{% block content %}


{% if pagr == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password">

        <input type="submit" value="Login" />
    </form>

    <p>havnt signed up yet.</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %}

        <input type="submit" value="Register" />
    </form>
    <p>Already signed up yet?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}
